}
}
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
p {
    font-size: 15px;
    line-height: 1.6;
    margin: 0;
}
a:focus, a:hover {
    text-decoration: none;
}

.docv-layout {
    display: block;
    min-height: 100vh;
    width: 100%;
    background-size: cover !important;
    background-position: center !important;
}
.is-upgraded {
    position: relative;
}

.docv-navigation {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 65px;
    display: flex;
    align-items: center;
    padding: 0 50px;
    z-index: 2;
}
.docv-menu ul {
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.1);
    margin: 0;
}

.sidenav-overlay {
    z-index: 37;
}
.docv-logo {
    display: flex;
    width: 200px;
    align-items: center;
}

.docv-logo img {
    width: 100%;
}

.docv-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    z-index: 40;
    right: 20px;
    top: 12px;
}

.docv-menu li {
    display: inline-block;
    margin: 0 10px;
}

.docv-menu li a {
    color: #222;
}
.docv-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    margin: 0;
}

.docv-user_Question {
    width: 100%;
    max-width: 1028px;
    position: relative;
    display: block;
}
.docv-us-Question {
    display: flex;
    justify-content: center;
    position: relative;
}


.img-user, .docv-box-question {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    display: flex;
}

.docv-box-question {
    width: 100%;
    padding: 0 30px;
    max-width: 650px;
}


.img-user {
    width: 150px;
    align-items: center;
    margin: 10px;
}

.img-user img {
    width: 100%;
    border-radius: 100%;
    height: 150px;
    object-fit: contain;
    background: #ffffff;
    padding: 5px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.24);
}
#answers_doc {
    display: none;
    width: calc(85% - 250px);
}
.box-content {
    position: relative;
    background: #fff;
    padding: 25px 30px;
    border-radius: 15px;
    margin-top: -45px;
    margin-bottom: 30px;
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.1), 0 10px 30px 0 rgba(0,0,0,0.2);
}

.box-content:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    /* border: 27px solid transparent; */
    /* border-right-color: #fff; */
    /* border-left: 0; */
    /* border-bottom: 0; */
    margin-top: -10px;
    margin-left: -27px;
    margin-left: -19px;
    background: url(../images/bubble.png) no-repeat;
    width: 40px;
    height: 40px;
    background-size: contain;
}
.box_text {
    display: none;
}
.box_text.active {
    display: block;
}
.box-content p {
    margin-bottom: 15px;
    color: #6f6f6f;
}

.box-content p:last-child {
    margin-bottom: 0;
}
.answer-box {
    /* display: none; */
}
.answer-box.active {
    display: block;
}
.box_parrent_question {
    display: none;
}

.box_parrent_question.active, .question-list .box-content.active, .question-list .box_parrent_question .box_text {
    display: block;
}
.answer-box-input [type="radio"]:not(:checked)+span:before, .answer-box-input [type="radio"]:not(:checked)+span:after {
    border-color: #fff
}
.answer-box-input [type="radio"]:checked+span:after, .answer-box-input[type="radio"]:checked+span:after {
    background: tomato;
    border-color: tomato;
}
.docv-us-search {
    display: block;
    margin-top: 30px;
    padding: 0;
    position: relative;
}
.docv-us-search .bg-fff {
    color: #fff;
    border-radius: 5px;
    padding: 0;
    position: relative;
}
.input-field {
    position: relative;
}
.docv-us-search .input-field, .docv-us-search .input-field input, .docv-us-search .input-field label {
    color: #fff;
}
.docv-us-search .input-field .prefix.active {
    color:  #ffffff;
}
.docv-us-search .input-field input {
    margin-left: 3rem;
    width: 92%;
    width: calc(100% - 3rem);
}

.docv-us-search .row {
    margin: 0;
}

.docv-us-search .row .col {
    margin: 0;
    padding: 0;
}
.answer-box-Button {
    text-align: center;
    padding: 20px 0;
}
.docv-content .review-pdf {
    position: relative;
}
.responsive-wrapper {
    background: #fff;
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    height: 400px;
}

.responsive-wrapper iframe {
    width: 100%;
    height: 100%;
    border: 0;
    overflow: auto;
}
.review-pdf {
    display: flex;
    position: relative;
    padding: 0 30px 15px !important;
    justify-content: flex-end;
    align-items: end;
    height: 100vh;
    flex-direction: column;
}
.review-pdf h3 {
    position: relative;
    font-size: 20px;
    color: #fff;
    text-align: left;
}
.material-placeholder {
    width: 100%;
}
.docv-content .s6 .docv-us-Question {
    min-height: 100vh;
    justify-content: center;
    /* align-items: center; */
    padding-top: 30%;
}
.docv-content .s6 .docv-us-Question .box-content {
    margin-top: 0;
    margin-bottom: 10px;
}

.answer-box-input input, .answer-box-input label {
    color: #fff !important;
    margin-right: 25px;
}
.answer-box-input input {
    border-bottom-color: #fff !important;
    box-shadow:
}
.answer-box-input input:not([type]):focus:not([readonly]),
.answer-box-input input[type=text]:not(.browser-default):focus:not([readonly]),
.answer-box-input input[type=password]:not(.browser-default):focus:not([readonly]),
.answer-box-input textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom:  1px solid #fff;
    -webkit-box-shadow:  0 1px 0 0 #fff;
    box-shadow:  0 1px 0 0 #fff;
}
.col.s8.offset-s2 .docv-box-question .box-content {
    margin: 0;
}
.row .col.offset-s2 .material-placeholder {
    max-width: 700px;
    width: 100%;
    margin: 15px auto;
}
.done-review .material-placeholder {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
}

.done-review  .responsive-wrapper {
    height: 300px;
}
.preview_footer {
    display: block;
    text-align: center;
}

.answer-box-input [type="checkbox"]+span:not(.lever):before, .answer-box-input [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
    border-color: #fff;
}

.answer-box-input [type="checkbox"]:checked+span:not(.lever):before {
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #ff6347;
    border-bottom: 2px solid #ff6347;
}
.help_sidenav {
    width: 100%;
    z-index: 39;
}
.scrollable__content {
    position: relative;
    display: block;
    padding: 0;
    height: 100vh;
    overflow: auto;
}

.panel__content.help-section {
    position: relative;
}

.panel__content.help-section h1 {
    font-size: 35px;
    font-weight: 400;
}

.hepl-content__layout {
    position: relative;
    display: block;
    padding-bottom: 0 !important;
}

.faq-row {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 15px 20px;
    min-height: 135px;
}

.faq-row a {
    display: block;
}

.faq-row a h3 {
    margin: 0 0 5px;
    color: #222;
    font-size: 18px;
}

.faq-row a p, .faq-row a span {
    font-size: 12px;
    color: #777;
}
.social-link-out {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.social-link-out h4 {
    font-size: 18px;
    margin: 0;
}

.social-link-out ul {
    display: flex;
}
.btn-floating i.fa {
    width: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
}
.about-us_sidenav {
    width: 100%;
    max-width: calc(100% - 80px);
    z-index: 39;
}
.panel__content.help-section h5 {
    font-size: 20px;
}
.about-us_content {
    position: relative;
    display: block;
    margin-top: 40px;
}

.about-us_panel {
    display: block;
    position: relative;
}

.about-us_panel img {
    width: 150px;
}

.title-panel {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}
.about-us_sidenav .hepl-content__layout {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
.social-panel-right {
    display: block;
    margin-left: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
}

.social-title {
    display: block;
    margin-bottom: 10px;
}

.social-panel-right li a {
    padding-left: 0;
    background: transparent !important;
}

.social-panel-right li a i {
    font-size: 30px;
}
.link-new-press {
    display: block;
}

.link-new-press a span {
    color: #777;
    display: block;
    font-size: 12px;
    padding-top: 10px;
}
footer.footer {
    position: relative;
    width: 100%;
    height: 70px;
    border-top: 1px solid #ccc;
    z-index: 1;
    bottom: -17px;
    display: flex;
    align-items: center;
}

.footer__nav {
    display: flex;
    align-items: center;
    width: 100%;
}

.footer__nav .nav_second, .footer__nav .nav_social {
    width: 50%;
    display: flex;
}

.nav_second a {
    display: inline-flex;
    margin: 0 10px 0 0;
    color: #777;
}

.nav_social ul li {
    display: inline-flex;
}

.nav_social ul li a {
    text-align: center;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    padding: 0 10px;
}

.nav_social ul {
    display: block;
    text-align: right;
    width: 100%;
    margin: 0;
}

.nav_social ul li a i {
    height: auto;
    line-height: 30px;
    float: none;
    margin: 0;
}

.about-us_sidenav .hepl-content__layout .row {
    margin-bottom: 50px;
}
.user-send label.title-mail {
    font-size: 16px;
    font-weight: 600;
}

.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
}
.ui-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    outline: 0;
}
.ui-menu .ui-menu {
    position: absolute;
}
.ui-menu .ui-menu-item {
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #eee;
}
.ui-menu .ui-menu-item-wrapper {
    position: relative;
    display: flex;
    min-height: 50px;
    align-items: center;
    font-size: 15px;
}
.ui-menu .ui-menu-divider {
    margin: 5px 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    border-width: 1px 0 0 0;
}
.ui-menu .ui-state-focus,
.ui-menu .ui-state-active {
    margin: -1px;
}
.ui-widget-content {
    background: #fff;
    color: #333333;
}

.easy-autocomplete-container {
    background: #fff;
    position: absolute;
    left: 3rem;
    right: 3rem;
    z-index: 2;
}
.easy-autocomplete-container ul {
    margin: 0;
}
.easy-autocomplete-container ul li {

}
.easy-autocomplete-container ul li div {
    display: block;
    padding: 10px 15px;
    color: #222;
    text-transform: capitalize;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}
.docv-us-search .input-field label.search_label.active {
    left: 0;
}
.easy-autocomplete-container ul li div b {
    color: tomato;
    font-weight: 400;
}
.docv-us-search .press-hide {
    margin-left: 3rem !important;
    width: calc(100% - 3rem) !important;
    display: none;
}
.docv-us-search .press-hide.show {
    display: block;
}
@media screen and (max-height: 768px) {
    .easy-autocomplete-container ul {
        max-height: 230px;
        overflow: auto;
    }
}
::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
  transition: .5s;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, tomato), color-stop(0.72, tomato), color-stop(0.86, tomato));
}
.menu_mobile {
    display: none;
}
.close_menu_mobile {
    display: none;
}
@media screen and (max-width: 1170px) {
    .review_doc {
        display: none;
    }
    .question_doc {
        width: 100% !important;
    }
    .docv-content .s6 .docv-us-Question {
        align-items: center;
        padding:0;
        /* padding-top: 40%; */
    }
    .question_doc .docv-box-question {
        width: calc(85% - 250px);
    }
    .question_doc .box-content p {
        font-size: 14px;
    }
    .img-user {
        width: 100px;
    }
    .img-user img {
        height: 100px;
    }

    .col.s8.done-review {
        width: 100%;
        display:block;
        padding-top: 16%;
        padding-bottom: 50px;
    }
}
@media screen and (max-width: 768px) {
    .question_doc .docv-box-question {
        width: calc(100% - 0px);
    }
    .menu_mobile {
        display: block;
        color: #fff;
        position: absolute;
        right: 15px;
    }
    .docv-menu {
        position: fixed;
        width: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: block;
        padding-top: 0;
        z-index: 11;
        background: #404c8e;
        transition: all .3s;
    }
    .docv-menu.show {
        width: 200px;
    }
    .docv-menu ul {
        margin-top: 50px;
        padding-top: 10px;
    }
    .docv-menu li {
        display:block;
        padding: 10px;
    }
    .close_menu_mobile {
        display: block;
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        left: 0;
        color: #fff;
        width: 100%;
        height: 50px;
        background: #323d7b;
        padding-left: 15px;
    }
    #answers_doc {
        width: calc(100% - 250px);
    }

}
@media screen and (max-width: 550px) {
    .docv-us-Question {
        display: block;
        text-align: center;
    }
    .docv-content .docv-us-Question {
        padding-top: 40%;
        justify-content: flex-start;
    }
    .img-user {
        width: 80px;
        margin: 0 auto 60px;
    }
    .img-user img {
        width: 80px;
        height: 80px;
    }
    .docv-content .s6 .docv-us-Question .img-user {
        margin-bottom: 20px;
    }
    .docv-content .done-review .docv-us-Question .img-user {
        margin-bottom: 30px;
    }
    .docv-content .done-review .docv-us-Question .docv-box-question {
        width: 100%;
    }
    .docv-content .s6 .docv-us-Question .answer-box-input {
        text-align: left;
    }
    .docv-content .s6 .docv-us-Question .answer-box-input input, .docv-content .s6 .docv-us-Question .answer-box-input label {
        font-size: 13px;
    }
    .preview_footer {
        display: table;
    }
    .preview_footer a {
        display: inline-block;
        font-size: 12px;
        margin-bottom: 8px;
        width: 47%;
    }
    #answers_doc {
        width: calc(100% - 0px);
        margin: 0 auto;
    }
    #search_doc {
        width: 100%;
    }
    .question_doc .box-content {
        padding: 15px;
    }
    .question_doc .box-content p {
        font-size: 12px;
    }
    .box-content:after {
        border-right-color: #fff;
        width: 20px;
        height: 20px;
        margin-left: -8px;
        top: 0;
        left: 50%;
    }
    .box-content {
        padding: 15px;
        margin-bottom: 10px;
    }
    .box-content p {
        font-size: 12px;
    }
    #search_doc .box-content {
        margin-bottom: 20px;
    }
    #search_doc input {
        font-size: 13px;
    }
    .docv-us-search {
        margin-top : 0;
        text-align: left;
    }
    .docv-us-search label {
        font-size: 12px;
    }
    .question_doc .answer-box-input span {
        font-size: 12px;
    }
    .docv-content .s6 .docv-us-Question {
        align-items: center;
        padding-top: 40%;
        display: flex;
        flex-direction: column;
    }
    .answer-box-Button button {
        margin-bottom: 10px;
        min-width: 70px;
    }

    .docv-content, .col.s8.done-review {
        width: 100%;
        display: block;
    }

}

.close-nav-top {
    position: fixed;
    z-index: 40;
    width: 100%;
    height: 65px;
    background: #ffffff;
    left: 0;
    top: 0;
    right: 0;
    box-shadow: 3px -1px 5px 1px rgba(0, 0, 0, 0.2);
}
.close-slidenav {
    position: absolute;
    top: 15px;
    left: 10px;
    z-index: 1;
    border: 2px solid #c8c8c8;
    color: #a7a7a7;
    font-size: 22px;
    font-weight: 600;
    line-height: 22px;
    border-radius: 100px;
    width: 25px;
    height: 25px;
    text-align: center;
    display: inline-block;
}
.about-us_header {
    margin-bottom: 50px;
}
.about-us_sidenav .hepl-content__layout {
    max-width: 100%;
}
.panel__content.help-section {
    padding: 65px 30px 0;
}
.col.s12 .about-us_panel {
    display:flex;
    align-items: flex-start;
    margin-bottom: 20px;
}
.col.s12 .about-us_panel img {
    margin-right: 30px;
}

.business_sidenav, .add_plans_sidenav {
    width: 100%;
    max-width: calc(100% - 80px);
    z-index: 39;
}

.title-features {
    font-weight: 600;
}
.have-ser, .havenot-ser {
    text-align: center;
}
.have-ser i {
    color: green;
}
.havenot-ser i {
    color: tomato;
}
.have-ser button {
    margin:0;
}

ul.list-news {
    width: 100%;
    position: relative;
    display: table;
}

ul.list-news li {
    display: table;
    padding: 20px 0;
    border-top: 1px solid #eee;
}

.created-date {
    line-height: 20px;
    font-size: 13px;
}

.title-news {
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
}

.desc-news {
    font-size: 14px;
    line-height: 1.6;
}
.version_term {
    font-size: 13px;
    margin: 5px 0 10px;
}

.version_term a {
    color: #222;
    display: inline-block;
    margin: 0 5px;
}
.version_term_p {
    display: block;
    position: relative;
}

.version_term_p p {
    margin-bottom: 20px;
}
.app_terms {
    display: block;
    margin-bottom: 25px;
}

.app_terms p {
    display: flex;
    margin-bottom: 15px;
}
.app_terms p span:first-child {
    margin-right: 30px;
}
#upload-application-form {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.content-upload {
    width: 100%;
    max-width: 600px;
    margin: 10% auto;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 1px 10px -1px #fff;
}
.header-form {
    position: relative;
    text-align: center;
    padding: 20px 0 0;
}
.header-form h3 {
    margin: 0;
    font-size: 20px;
}
.body-form {
    padding: 20px 30px;
    position: relative;
    display: table;
    width: 100%;
}

.footer-form {
    padding: 0 20px 40px;
    text-align: center;
    display: table;
    width: 100%;
}
#upload-application-form input {
    border-bottom-color: #eee;
}
.s6 {
    width: 50%;
    float: left;
    padding: 0 10px;
}
.dropdown-content li>a, .dropdown-content li>span {
    color: #222;
    font-size: 14px;
}
#upload-application-form .btn {
    text-transform: capitalize;
    box-shadow: none;
}
.s12 {
    width: 100%;
    padding: 0 10px;
}
#upload-application-form .form-group {
    display: table;
    width: 100%;
}
.footer-form button {
    margin: 0 10px;
}
#upload-application-form .btn-flat:hover {
    background: transparent;
}
#upload-application-form .btn.btn-upload {
    display: flex;
    align-items: center;
    color: tomato;
    border: 1px solid #eee;
}
.docv-us-search .upload-form {
    margin-left: 3rem !important;
    display: none;
}
.upl_form_ {
    /* display: none; */
}

.successfully_upl {
    padding: 50px;
    text-align: center;
    display: none;
}
.successfully_icon {
    display: block;
    width: 100px;
    height: 100px;
    line-height: 130px;
    border: 4px solid rgba(139, 195, 74, 0.25098039215686274);
    border-radius: 100%;
    margin: 0 auto 20px;
}

.successfully_icon i {
    color: #8BC34A;
    font-size: 45px;
}

.successfully_alert {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 20px;
}

.successfully_p {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
}

.successfully_button button {
    background-color: #8CD4F5;
    color: white;
    border: none;
    box-shadow: none;
    font-size: 17px;
    font-weight: 500;
    -webkit-border-radius: 4px;
    border-radius: 5px;
    width: 85px;
    height: 40px;
    cursor: pointer;
    text-transform: uppercase;
}
.l20 {
    padding-left: 20px;
    margin-top: 25px;
}

.l20 p {
    margin-bottom: 10px;
}

.tsw-layout-login {
    display: flex;
    min-height: 100vh;
    width: 100%;
    background: url(../images/bg.jpg) center;
    justify-content: center;
    align-items: center;
    background-size: cover;
    position: relative;
}
.tsw-layout-login:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(50deg, HSLA(205, 72%, 7%, 1), #240007);
    opacity: 0.6;
}
.tsw-login-content {
    position: relative;
    display: block;
    width: 100%;
    max-width: 400px;
}

.tsw-form_login .tsw-logo {
    width: auto;
    display: block;
    text-align: center;
}
.tsw-form_login .tsw-logo h4 {
    color: #777;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 40px;
}
.tsw-form_login .tsw-logo img {
    width: 250px;
}

.tsw-form-layout {
    width: 100%;
    display: block;
}

.tsw-form_login {
    width: 100%;
    display: block;
    background: rgb(255, 255, 255);
    padding: 80px 20px 50px;
    border-radius: 4px;
    -webkit-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

.login-ic {
    position: relative;
    margin-bottom: 1.5em;
    padding: 5px;
    display: table;
    width: 100%;
    background: rgba(255, 255, 255, 0.68);
}
.login-ic i {
    width: 38px;
    height: 38px;
    float: left;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    line-height: 38px;
}
.login-ic input[type="text"], .login-ic input[type="password"] {
    float: left;
    background: none;
    outline: none;
    font-size: 15px;
    font-weight: 400;
    padding: 10px 16px;
    border: none;
    border-left: 1px solid rgba(255, 255, 255, 0.35);
    width: 82%;
    display: inline-block;
    margin-left: 7px;
}
.tsw-forgot {
    text-align: right;
    display: block;
    margin-bottom: 15px;
}

.tsw-forgot a {
    color: #777;
}

.tsw-button {
    display: block;
}

.tsw-button a {
    width: 100%;
    color: #fff;
}
.tsw-form-layout .input-field label {
    font-weight: 400;
    color: #777;
}

.tsw-form-layout .input-field i {
    top: 1rem;
    color: #777;
}
.tsw-login-content.signUp_form {
    max-width: 700px;
}
.tsw-form-layout .col.s12 {
    margin: 0 0 10px;
}
.btn-tsw_main {
    background: tomato;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    height: 45px;
    line-height: 45px;
}
.form_signup_plans {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.form_signup_plans_header {
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.planselector {
    background: #E8EBED;
    border-radius: 5px;
    color: #484A4D;
    cursor: pointer;
    height: 11.875em;
    margin: 0 0 1.875em;
    position: relative;
    text-align: center;
    display: flex;
    width: calc(50% - 5px);
    flex-direction: column;
    justify-content: space-around;
}

.planselector--checked {
    background: tomato;
    color: #fff;
}

.planselector input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 12px;
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.planselector__label {
    font-size: 25px;
}

.planselector__price {
    font-size: 35px;
    min-height: 71px;
}

.planselector__copy {
    font-size: 10px;
}
.planselector__price sup {
    font-size: 10px;
    vertical-align: super;
    top: 10px;
    margin-left: 5px;
}
.form__input .row {
    margin-bottom: 0;
}

.form__input {
    position: relative;
}
.your_billing_info {
    display: block;
    margin-bottom: 1rem;
    font-weight: 600;
}
.form__input .input-field {
    margin: 0 0 1.2rem;
}
#logoheader {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 60px;
    background: #F5F7FA;
    width: 100%;
    justify-content: center;
    padding: 0 1rem;
}
#logoheader img {
    width: 200px;
}
#logoheader span {
    position: absolute;
    right: 1rem;
    font-weight: 600;
    font-size: 13px;
}
.not-boxshadow {
    box-shadow: none;
}
.form_pay {
    display: block;
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.form_pay .collapsible-header i {
    width: 40px;
    height: 30px;
    position: relative;
    background: url(https://live.adyen.com/sf/q7KUHzFD/img/logo_cc.svg) no-repeat;
    background-size: auto;
    background-position: 3px 2px !important;
}

.form_pay .collapsible-header span {
    font-size: 16px;
    font-weight: 600;
}

.form_pay .collapsible-header {
    align-items: center;
    outline: none;
    border: 0;
}
.form_pay ul.collapsible {
    border: 1px solid #E8EBED;
    padding: 30px;
    border-radius: 5px;
    margin: 0 auto 20px;
    min-height: 70px;
    box-sizing: border-box;
}
.form_pay .collapsible-body, .form_pay .collapsible-body tr {
    border: 0;
}
.form_pay .select-dropdown li img {
    width: 40px;
    height: auto;
    position: relative;
    top: 9px;
}
.form_pay .row {
    margin: 0;
}

.form_pay .row .input-field {
    margin: 0 0 1rem;
}
.info_cvc {
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: help;
    color: tomato;
}

.security_info {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background: #fff;
    position: absolute;
    top: -180px;
    right: 15px;
    z-index: 1;
    display: none;
}

.security_info.show {
    display: block;
}

.security_title {
    margin-bottom: 15px;
}

.security_para {
    font-size: 12px;
    margin-bottom: 10px;
}
.security_info .close {
    font-size: 25px;
    position: absolute;
    right: 5px;
    top: -4px;
    cursor: pointer;
}
.fff {
    color: #fff !important;
}

.w100 {
    width: 100%;
    margin: 0 auto;
    display: block;
}
.p010 {
  padding: 0 10px;
}
label.error {
  text-align: left;
  display: block !important;
  top: -5px;
  left: 0 !important;
  font-size: 13px;
  position: relative;
  transform: translateY(0) !important;
}

.table__plans {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.plans_col {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.plans_col_title {
    display: flex;
    width: 100%;
    font-weight: 600;
    margin-bottom: 10px;
    justify-content: center;
}

.plans_col_span {
    line-height: 20px;
    min-height: 55px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    border-bottom: 1px solid #ddd;
}
.left-title .plans_col_title, .left-title .plans_col_span {
    justify-content: flex-start;
}
.plans_col_button {
    line-height: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}

.search_help span {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #7a7aa7;
}
#about-us .scrollable__content {
    max-width: 1170px;
    margin: 0 auto;
}
.plus-banner {
    background-color: #FFF0D9;
    height: 280px;
    padding-top: 0;
    left: -5em;
    position: relative;
    width: calc(100% + 10em);
    top: 65px;
    z-index: 0;
}

.plus-banner__illustration {
    background: tomato;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
}

img.plus-balls-image {
    left: 50%;
    position: absolute;
    top: -1.25em;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 600px;
}

.plus-banner__header-text {
    position: absolute;
    text-align: center;
    top: 0.0625em;
    width: 100%;
    z-index: 3;
}

.plus-banner__header-text h1 {
    font-size: 2.5em;
    margin-bottom: 0.25em;
    padding: 1.25em 0 0;
    font-weight: 500;
}

.plus-banner__header-text p {
    font-weight: 400;
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    color: #000000;
    font-size: 1.625em;
    line-height: 1.2692307692em;
    margin: 0.0769230769em auto;
    margin-top: 0.0769230769em;
    max-width: 23.0769230769em;
    text-align: center;
    width: 70vw;
}
#business .panel__content {
    max-width: 1170px;
    margin: 60px auto 0px;
    display: block;
}
.plans__header {
    text-align: center;
    display: block;
    margin: 50px 0;
}

.plans__header__text {
    font-size: 30px;
}
span.planselector__radio {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 23px;
    height: 23px;
    background: #fff;
    border-radius: 100px;
}

span.planselector__radio.active {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ff6347;
    font-size: 17px;
    line-height: 22px;
}

span.planselector__radio.active:before {
    content: "\f00c";
}
.annual_price sup {
    top: 0;
}
span.planselector__subcopy.saved {
    font-size: 15px;
    font-weight: 400;
}
.signin__form-container {
    background: #FFFFFF;
    padding: 0.625em 1.25em 3em;
    z-index: 1;
    position: relative;
}

.signin-form {

z-index: 1;

position: relative;

background: #fff;
}

.signin-form--form-container {

}

.signin-form__input {
    display: flex;
    align-items: center;
}

.textfield label {
    font-size: 13px;
    transform: translateY(16px);
    left: 0.75rem;
    font-weight: 400;
}

.textfield--default {
    width: calc(50% - 4.875em);
    display: inline-flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    margin-right: 1em;
}


.textfield--default input {
    margin: 0 !important;
    height: 40px !important;
    border-bottom: 0 !important;
}

.textfield.input-field>label:not(.label-icon).active {
    -webkit-transform: translateY(4px) scale(0.8);
    transform: translateY(4px) scale(0.8);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
.signin-form__input button {
    height: 50px;
    display: inline-flex;
    justify-content: center;
}

.checkboxinput.signin-form__options {
    display: block;
    position: relative;
    top: -8px;
    margin-bottom: -15px;
}

.checkboxinput.signin-form__options p {
    font-size: 10px;
    display: flex;
    align-items: center;
}
.checkboxinput.signin-form__options label {
    margin-right: 5px;
    margin-bottom: 0;
}

.checkboxinput.signin-form__options label span {
    font-size: 10px !important;
    padding-left: 20px;
}

.checkboxinput.signin-form__options [type="checkbox"].filled-in:checked+span:not(.lever):before {
    width: 6px;
    height: 10px;
    top: 2px;
}

.checkboxinput.signin-form__options [type="checkbox"].filled-in:checked+span:not(.lever):after {
    width: 15px;
    height: 15px;
    top: 4px;
}

.checkboxinput.signin-form__options [type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
    width: 15px;
    height: 15px;
    top: 4px;
}

.checkboxinput.signin-form__options a {
    color: #777;
    text-decoration: underline;
    margin-right: 15px;
}
.checkboxinput.signin-form__options label span b {
    margin: 0 3px;
}
.signin__form-container .plus-banner {
    top: 0px;
}

.signin__form-container .plus-banner .plus-banner__illustration {
    background: #ffede0;
}

 .signin-content__list {
    position: relative;
    max-width: 700px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.signin-content__wrapper {
    margin-top: 7em;
}
.forgot__password-container {
    min-height: calc(100vh - 10em);
    padding-bottom: 6.5625em;
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 2.8125em;
    position: relative;
}

.forgot-password-page.forgot-password-page__is-requesting {
    position: relative;
    text-align: center;
    top: 1.875em;
}

.illustration {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    height: 10.625rem;
    opacity: 1;
    -webkit-transition: opacity .1s ease-out;
    transition: opacity .1s ease-out;
    width: 10.625rem;
}

.illustration__forgot-password {
    background-image: url(../images/forgot_password.jpg);
}

.forgot-password-page__is-requesting h2 {
    font-weight: 400;
    color: #17181A;
    font-size: 2em;
    margin-bottom: .75em;
    margin-top: 1.125em;
}

.forgot__password-container .signin-form__input {
    justify-content: center;
}
.forgot-password-page p {
    font-size: 0.875em;
    letter-spacing: 0em;
    line-height: 1.4375em;
    margin: 2.5em auto 0;
    max-width: 27.1428571429em;
    padding: 0;
}
.forgot-password-page p a {
    display: inline-flex;
    align-items: center;
}

.forgot-password-page p a i {
    margin-right: 5px;
    font-size: 20px;
}

.sidenav_hidden {
    display: none;
}
.sidenav_hidden.active {
    display: block;
}
.sign-up__plans {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 0 auto;
    float: none !important;
}

span.planselector__subcopy.saved {
    display: block;
}

.security_info.vat_info {
    top: -165px;
    right: 7px;
}

.security_info.vat_info .close {
    top: 0;
    font-weight: 400;
    opacity: 1;
}

.sidenav_custome {
    background: #fff;
    position: fixed;
    z-index: 39;
    top: 0;
    right: 0;
    transform: translateX(105%);
    transition: .5s;
}

.sidenav_custome.nav-help {
    transform: translate(0);
    width: 60%;
    transition: .5s;
}
.sidenav_custome.nav-business {
    width: 80%;
    transform: translate(0);
    transition: .5s;
}
.sidenav_custome.nav-about {
    width: 70%;
    transform: translate(0);
    transition: .5s;
}
.sidenav_custome.nav-signin {
    width: 60%;
    transform: translate(0);
    transition: .5s;
}
.sidenav_custome.nav-account {
    width: 50%;
    transform: translate(0);
    transition: .5s;
}