<!DOCTYPE html>
<html>
<head>
	<title>Sign Up Form</title>
	<meta charset="utf-8"> 
	<link rel="icon" href="images/favicon.png" type="image/png">
	<link rel="stylesheet" type="text/css" href="../../assets/css/admin-materialize.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/admin-styles.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,700,800" rel="stylesheet">
</head>
<body>
	<div class="tsw-layout-login">
		<div class="tsw-login-content signUp_successfully">
			<div class="tsw-form_login">    
				<div class="success-signup">
					<div class="success-icon">
						<span class="material-icons">check</span>
					</div>
					<div class="success-notification">
						<h4>Sign Up Successfully</h4>
					</div>
					<div class="success-dirrect">
						<a href="ad_login.html">Ok</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../../assets/js/jquery.min.js"></script>    
	<script type="text/javascript" src="../../assets/js/materialize.min.js"></script> 
</body>
</html>