<!DOCTYPE html>
<html>
<head>
	<title>Sign Up Form</title>
	<meta charset="utf-8"> 
	<link rel="icon" href="images/favicon.png" type="image/png">
	<link rel="stylesheet" type="text/css" href="../../assets/css/admin-materialize.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/admin-styles.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,700,800" rel="stylesheet">
</head>
<body>
	<div class="tsw-layout-login">
		<div class="tsw-login-content signUp_form">
			<div class="tsw-form_login">  
				<div class="alert">
					<div class="alert-content error">Email registered</div>
				</div>
				<div class="tsw-logo">
					<img src="../../assets/images/user/logo-black.png">
					<h4>Sign Up Form</h4>
				</div>
				<div class="tsw-form-layout row clearfix">
					<div class="input-group"> 
						<div class="input-field col s6">
							<div>
								<i class="material-icons prefix">email</i>
								<input id="email" type="text" class="validate" placeholder="Your Email"> 
							</div>
						</div>
						<div class="input-field col s6">
							<div>
								<i class="material-icons prefix">phone</i>
								<input id="phone" type="text" class="validate" placeholder="Phone Number"> 
							</div>
						</div>
						<div class="input-field col s6">
							<div>
								<i class="material-icons prefix">perm_identity</i>
								<input id="first_name" type="text" class="validate" placeholder="First Name"> 
							</div>
						</div>
						<div class="input-field col s6">
							<div>
								<i class="material-icons prefix">perm_identity</i>
								<input id="last_name" type="text" class="validate" placeholder="Last Name"> 
							</div>
						</div>
						<div class="input-field col s6">
							<div>
								<i class="material-icons prefix">lock_outline</i>
								<input id="password" type="password" class="validate" placeholder="Password">
							</div> 
						</div>
						<div class="input-field col s6">
							<div>
								<i class="material-icons prefix">lock_outline</i>
								<input id="confirm_password" type="password" class="validate" placeholder="Confirm Password"> 
							</div>
						</div> 
					</div>
					<div class="tsw-button">
						<a href="ad_signup_success.html" class="btn-tsw_main waves-effect waves-light red">Sign Up</a> 
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../../assets/js/jquery.min.js"></script>    
	<script type="text/javascript" src="../../assets/js/materialize.min.js"></script> 
</body>
</html>