}
}
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background: #efefef;
}
p {
    font-size: 15px;
    line-height: 1.6;
    margin: 0;
}
a:focus, a:hover {
    text-decoration: none;
}

header,
main,
footer {
  padding-left: 240px;
} 

@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }
}
main {
  min-height: 85vh;
  padding-top: 25px;
  margin-top: 55px;
}
#credits li,
#credits li a {
  color: white;
}

#credits li a {
  font-weight: bold;
}

.footer-copyright .container,
.footer-copyright .container a {
  color: #9a9a9a;
  font-size: 12px;
}

.fab-tip {
  position: fixed;
  right: 85px;
  padding: 0px 0.5rem;
  text-align: right;
  background-color: #323232;
  border-radius: 2px;
  color: #FFF;
  width: auto;
}

.add_league_title {
  text-align: left;
}
.add_league_title button.submit_form {
    margin-left: 3rem;
}
.custom-table thead {
    border-bottom: 0;
    background: radial-gradient(circle at 50% 55%,#cc1a1a,#c70101),linear-gradient(#c70101,#e60000);
    color: #fff;
}

.custom-table thead th {border-radius: 0 !important;}
 

.custom-table td a {
    font-size: 18px;
    color: #1a1a1a;
}
.man-utd-black {
    background: #1a1a1a;
}

.man-utd-black a {
    color: #fff;
    font-size: 14px;
}

.header-80 {
    display: flex;
    justify-content: flex-end;
    height: 80px;
}

.header-80 .dropdown-button {
    display: flex;
    height: 80px;
    align-items: center;
}

.header-80 .dropdown-content {
    top: 80px !important;
    width: 150px !important;
    background: #222;
    height: 45px;
    overflow: hidden;
    outline: none;
}

.header-80 .dropdown-content li a {
    overflow: hidden;
    color: #fff !important;
    font-size: 14px;
}

.header-80 .dropdown-content li:hover {
    background: #222 !important;
}
.alert {
    display: block;
    width: 100%;
    float: left;
}

.alert span.error p {
    color: #f32f2f;
    background: #ffe5e5;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 4px;
    border: 1px solid #ffc3c3;
}

.alert span.success p {
    color: #21a026;
    background: #d5ffd7;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 4px;
    border: 1px solid #9ed2a1;
} 
.upload-logo .btn {
    height: 36px;
    line-height: 36px;
}

.upload-logo .btn span {
    font-size: 14px;
}

.upload-logo .upload_logo_home {
    background: #cc1919;
}

.upload-logo input.file-path {
    height: 36px;
}
.select-wrapper .caret {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    z-index: 0;
    fill: rgba(0,0,0,0.87);
}
.custom-table td.flex_flag {
    display: flex;
    align-items: center;
}

.custom-table td.flex_flag span.gdlr-team-flag {
    max-width: 35px;
    margin-right: 10px;
}

.custom-table td.flex_flag span.gdlr-team-flag img {
    width: 100%;
}
.error {
    color: red;
}
td.avatar_col {
    width: 50px;
    display: block;
}

td.avatar_col img {
    width: 100%;
}
.tsw-layout-login {
    display: flex;
    min-height: 100vh;
    width: 100%;
    background: url(../images/bg.jpg) center;
    justify-content: center;
    align-items: center;
    background-size: cover;
    position: relative;
}
.tsw-layout-login:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(50deg, HSLA(205, 72%, 7%, 1), #240007);
    opacity: 0.6;
}
.tsw-login-content {
    position: relative;
    display: block;
    width: 100%;
    max-width: 400px;
}

.tsw-form_login .tsw-logo {
    width: auto;
    display: block;
    text-align: center;
}
.tsw-form_login .tsw-logo h4 {
    color: #777;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 40px;
}
.tsw-form_login .tsw-logo img {
    width: 250px;
}

.tsw-form-layout {
    width: 100%;
    display: block;
}

.tsw-form_login {
    width: 100%;
    display: block;
    background: rgb(255, 255, 255);
    padding: 80px 20px 50px;
    border-radius: 4px;
    -webkit-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

.login-ic {
    position: relative;
    margin-bottom: 1.5em;
    padding: 5px;
    display: table;
    width: 100%;
    background: rgba(255, 255, 255, 0.68);
}
.login-ic i {
    width: 38px;
    height: 38px;
    float: left;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    line-height: 38px;
}
.login-ic input[type="text"], .login-ic input[type="password"] {
    float: left;
    background: none;
    outline: none;
    font-size: 15px;
    font-weight: 400;
    padding: 10px 16px;
    border: none;
    border-left: 1px solid rgba(255, 255, 255, 0.35);
    width: 82%;
    display: inline-block;
    margin-left: 7px;
}
.tsw-forgot {
    text-align: right;
    display: block;
    margin-bottom: 15px;
}

.tsw-forgot a {
    color: #777;
}

.tsw-button {
    display: block;
}

.tsw-button a {
    width: 100%;
    color: #fff;
}
.tsw-form-layout .input-field label {
    font-weight: 400;
    color: #777;
}

.tsw-form-layout .input-field i {
    top: 1rem;
    color: #777;
}
.tsw-login-content.signUp_form {
    max-width: 700px;
}
.tsw-form-layout .col.s12 {
    margin: 0 0 10px;
}
.btn-tsw_main {
    background: tomato;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    height: 45px;
    line-height: 45px;
}
.form_signup_plans {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.form_signup_plans_header {
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.side-nav .collapsible, .side-nav.fixed .collapsible {
    border: none;
    box-shadow: none;
    max-height: calc(100vh - 125px);
    overflow: auto;
}
.header_sidenav {
    background: #69b9fa;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_sidenav .row {
    margin: 0;
}

nav.site-head {
    height: 55px;
    line-height: 55px;
    background: #64b5f6;
    position: fixed;
    z-index: 980;
    right: 0;
    top: 0;
}
.side-nav li .profile {
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    margin-bottom: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
    line-height: 1.6;
}

.side-nav li .profile img {
    border-radius: 100%; 
    width: 50px;
    height: 50px;
    float: left;
}

.side-nav li .profile .group {
    color: #464646;
    margin-left: 15px;
    display: inline-flex;
    flex-direction: column;
    text-align: left;
}

.side-nav li .profile .group .name {
    margin-bottom: 5px;
    white-space: nowrap;
    font-size: 14px;
    line-height: 15px;
    display: block;
    margin-top: 0;
    font-weight: 600;
    text-transform: uppercase;
}

.side-nav li .profile .group small.desig {
    text-transform: uppercase;
}
nav.site-head .user_dropdown i {
    height: 55px;
    line-height: 55px;
    color: #fff;
}

nav.site-head .user_dropdown {
    position: relative;
}

nav ul li {
    position: relative;
}

nav.site-head .dropdown-content {
    top: 55px !important;
}
.main_menu_navigation li {
    line-height: 50px;
    text-transform: uppercase;
}
.main_menu_navigation li a {
    font-weight: 600;
    height: 50px;
    line-height: 50px;
}
.main_menu_navigation li .collapsible-body li a {
    height: 50px;
    font-size: 13px;
    line-height: 50px;
    font-weight: 400;
}
.side-nav .main_menu_navigation .collapsible-body li.active {
    background-color: #f4f4f4;
}

.side-nav .main_menu_navigation .collapsible-body li.active a {
    color: #222;
}
.collapsible-header font {
    font-weight: 600;
}
.content_main {
    position: relative;
    display: block;
    padding: 0 15px;
}
.nav-wrapper {
    position: relative;
    display: block;
    margin-bottom: 10px;
}

.nav-wrapper a {
    color: #606060;
    font-size: 12px;
}

.nav-wrapper .breadcrumb:before {
    color: #ccc;
    font-size: 16px;
}
.mb20 {
    margin-bottom: 20px;
}

.alert-info {
    border: 1px solid #bce3f1;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 4px;
    background-color: #c4e3f3;
    color: #2a617c;
}
.dropzone {
    position: relative;
    width: 100%;
    border: 2px dashed #e2e2e2;
    background: #fff;
    height: 350px;
    cursor: pointer;
    padding: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.drop-info {
    text-align: center;
    margin-top: -20px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    top: 50%;
    position: relative;
}

.drop-info i {
    font-size: 72px;
    line-height: 1;
    color: #67d0ff;
}

.drop-info h3 {
    font-size: 24px;
}

.mt0 {
    margin-top: 0;
}

.text-bold {
    font-weight: bold;
}

.dropzone input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
    width: 100%;
}
.table-upload-doc tbody tr td {padding: 15px;font-size: 14px;text-align: left;}

.table-upload-doc tbody tr td.text-center, .table-upload-doc thead th.text-center {
    text-align: center; 
}

.table-upload-doc th {
    padding: 15px;
}
.success_upload {
    color: #4CAF50;
}

.error_upload {
    color: #F44336;
}
.modal-overlay {
    position: fixed;
    z-index: 999;
    top: -25%;
    left: 0;
    bottom: 0;
    right: 0;
    height: 125%;
    width: 100%;
    background: #000;
    display: none;
    will-change: opacity;
}
.modal_create_question {
    width: 450px;
    border-radius: 4px;
}